Django==6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
django-cors-headers==4.9.0

channels==4.3.2
channels_redis==4.3.0
daphne==4.2.1

mysqlclient==2.2.8
redis==7.4.0

python-dotenv==1.2.2

drf-nested-routers==0.95.0

Pillow==12.2.0
requests==2.33.1